.mobileItem {
  display: flex;
  border-bottom: 1px solid #888;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  &:last-of-type {
    border-bottom: unset;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &--group {
    flex: 40px 0;
    text-align: center;
    font-weight: bold;
    span {
      position: sticky;
      top: 0.5rem;
    }
  }

  &__contacts {
    flex: auto;
    div {
      margin: 0.5rem 0;
    }
    div:first-of-type,
    div:last-of-type {
      margin: 0;
    }
  }
}
