.contactsList {
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(230, 230, 230);
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #c5c5c5;
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .contactsList {
    padding: 1rem 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .contactsList {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .contactsList {
    display: none;
  }
}
