.contacts {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;

  &--title {
    text-align: center;
    margin: 1rem 0 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    margin: 0 0.5rem;

    &--title {
      margin: 0.5rem 0;
    }
  }
}
