.sortItem {
  background-color: rgb(230, 230, 230);
  border-radius: 5px 5px 0 0;
  border: 1px solid #c5c5c5;
  color: #4e4e4e;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  position: relative;
  min-width: 42px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
  flex: auto;

  &--quantity {
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-size: 10px;
    font-weight: normal;
  }

  &--disabled {
    pointer-events: none;
    color: #a1a1a1;
  }

  &--active {
    border-bottom: 0;
    box-shadow: inset 0px 4px 7px -3px rgba(0, 0, 0, 0.6);
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .sortItem {
    padding: 0.25rem;
    min-width: 34px;
    font-size: 1rem;
    &--quantity {
      font-size: 0.5rem;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .sortItem {
    padding: 0.25rem;
    min-width: 25px;
    font-size: 0.75rem;
    &--quantity {
      font-size: 0.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .sortItem {
    padding: 0.25rem;
    min-width: 25px;
    font-size: 0.75rem;
    &--quantity {
      font-size: 0.5rem;
    }
  }
}
