.listItem {
  border-bottom: 1px dashed rgba(197, 197, 197, 0.7);
  margin: 0 1.5rem;
  padding: 0.5rem 0;
  color: #4e4e4e;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .listItem {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .listItem {
    font-size: 0.75rem;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 768px) {
  .listItem {
    font-size: 0.75rem;
    margin: 0 1rem;
  }
}
