@mixin common-styles {
  padding: 1rem;

  &--close {
    left: 0.5rem;
    width: 12px;
    height: 12px;

    &:after {
      height: 12px;
      right: 6px;
    }

    &:before {
      height: 12px;
      right: 6px;
    }
  }

  &--avatar {
    width: 60px;
    height: 60px;
    img {
      width: 100%;
    }
  }

  &__info {
    &--username {
      font-size: 12px;
    }
    &--name {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
    &__rows {
      padding: 1px 0;
    }
  }
}

.contactCard {
  position: absolute;
  right: 0;
  left: 0;
  top: 2rem;
  background-color: #efefef;
  border-radius: 5px;
  padding: 1rem 1rem 1.5rem 1rem;
  box-shadow: inset 0px -3px 6px #888, inset 0px 1px 6px #888;
  z-index: 1;
  cursor: default;
  display: flex;
  align-items: flex-start;

  &--close {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 15px;
    height: 15px;
    cursor: pointer;

    &:after {
      content: "";
      height: 15px;
      border-left: 2px solid gray;
      position: absolute;
      transform: rotate(45deg);
      right: 8px;
    }

    &:before {
      content: "";
      height: 15px;
      border-left: 2px solid gray;
      position: absolute;
      transform: rotate(-45deg);
      right: 8px;
    }
  }

  &--avatar {
    margin-right: 0.75rem;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #888;
    img {
      border-radius: 50%;
    }
  }

  &__info {
    flex: auto;
    &--name {
      color: rgb(175, 175, 175);
      font-size: 18px;
      margin-bottom: 0.75rem;
    }
    &--username {
      background-color: rgb(207, 85, 60);
      color: white;
      white-space: nowrap;
      padding: 0.25rem;
      position: absolute;
      top: -0.75rem;
      left: 98%;
      -webkit-transform: rotate(90deg);
      -webkit-transform-origin: left top;
      -moz-transform: rotate(90deg);
      -moz-transform-origin: left top;
      transform: rotate(90deg);
      transform-origin: left top;
    }

    &__rows {
      display: flex;
      padding: 2px 0;
      span {
        &:nth-child(1) {
          color: black;
          flex: 70px 0;
        }
        font-size: 14px;
        color: #6e6e6e;
        flex: auto;
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .contactCard {
    padding: 1rem;

    &--close {
      left: 0.5rem;
      width: 12px;
      height: 12px;

      &:after {
        height: 12px;
        right: 6px;
      }

      &:before {
        height: 12px;
        right: 6px;
      }
    }

    &__info {
      &--name {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
      &--username {
        font-size: 14px;
      }

      &__rows {
        padding: 1px 0;
        span {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .contactCard {
    @include common-styles();

    &__info {
      &__rows {
        span {
          font-size: 10px;
          &:nth-child(1) {
            flex: 55px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contactCard {
    position: relative;
    top: 0;
    box-shadow: none;
    @include common-styles();

    &__info {
      &__rows {
        span {
          font-size: 12px;
          &:nth-child(1) {
            flex: 60px 0;
          }
        }
      }
    }
  }
}
