.modal {
  &__container {
    position: fixed;
    z-index: 12;
    inset: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > :first-child {
      position: absolute;
      z-index: 11;
    }
  }

  &__mask {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
}

.stop-scrolling {
  overflow-y: hidden;
}
