.contactsMobile {
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-radius: 15px;

  &__detail {
    border-radius: 15px;
    left: 1rem;
    right: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .contactsMobile {
    display: none;
  }
}
